html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lexend', sans-serif;
}
a {
  text-decoration: none;
} 
ul, li {
  text-decoration: none;
}

.buttonStyle {
  border-radius: 40px;
  border: 1px solid #F88C4E;
  padding: 10px 30px;
  transition: 0.3s;
  background: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #363636;
}
.buttonStyle:hover {
  background: linear-gradient(180deg, #FFA262 -18.42%, #F07953 100%);
  color: white;
}
.buttoncolor {
  color: #363636 ;
}
.buttoncolor:hover {
  color: white ;
}
.buttonStyleGreen {
  border-radius: 40px;
  padding: 10px 25px;
  transition: 0.3s;
  background: linear-gradient(180deg, #48B580 -28.07%, #3EAAA1 100%);
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  color: white;
}
.nav-item {
  margin: 0px 10px;
}
.nav-link {
  color: #363636;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.nav-link:hover {
  color: #F27E55 !important;
}
.navbar-nav {
  align-items: center !important;
  justify-content: center;
}
.itemCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.textCenter {
  display: flex;
  align-items: center;
}
.bgImage {
  background-image: url(../images/content/background.png);
  background-size: auto 350px;
  background-repeat: repeat-x;
  background-position: center;
}
.volunteerBg {
  background-image: url(../images/content/volunteerBg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.custom-list {
  list-style-type: disc; /* Set bullet point style */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 15px;
}

.custom-list li {
  color: #2E2E2E; /* Set text color */
}

.custom-list li:before {
  color: orange; /* Set bullet point color */
}

.serviceBody {
  display: grid;
  grid-template-columns: 48% 2% 48%;
  gap: 5px;
  padding: 50px;
}
.serviceWidth {
  width: 70%;
}
.DoctorImageBg {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.10);
  padding: 25px 25px 0px 25px;
}
.workProcess {
  padding: 50px 40px;
  background: #FFFFFF;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 0px 25%;
}
.workBox {
  width: 310px;
}
.volunteerTitle {
  width: 75%;
}
.volunteerText {
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
}
/* ================ Color CSS Style ====================
========================================================*/
.colorBg {
  background-color: #FAFAFA;
}
.secondColorBg {
  background-color: #FAF9F9;
}

.serviceBg {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.12);
}
.vertical-line {
  width: 2px; /* Set the desired width for the vertical line */
  height: 100%; /* Make the vertical line full height */
  background-color: #2E2E2E; /* Change the color as needed */
}
.colorText{
  color: #F27E55;
}

/* ================ Fonts CSS Style ====================
========================================================*/

.colorFont {
  color: #F27E55;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.titleText {
  color: #535353;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
}
.headingH2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #535353;
}
.text40 {
  color: #535353;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.text24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.text18 {
  color: #656667;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}



/* ================ Appointment Form CSS Style ====================
====================================================================*/

.portraitMaleImage {
  max-width: 75% !important;
  min-width: 75% !important;
  max-height: 75% !important;
  min-height: 75% !important;
}
.form-control, .form-select {
  border-radius: 100px;
  border: 1px solid #363636;
}
.formWidth {
  width: 85%;
}
.appointmentBg {
  background-image: url(../images//content//appoinmentBg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 90%;
}


/* ================ Responsive Design CSS Style ====================
====================================================================*/

/* Extra large devices (extra large desktops) */
@media (min-width: 1200px) {
  .missonTextWidth {
    width: 75%;
  }
}

/* Large devices (large desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .buttoncolor {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .bgImage {
    background-size: auto 250px;
  }
  .formWidth {
    width: 100%;
  }
  .appointmentBg {
    background-size: 95%;
  }
  .serviceWidth {
    width: 85%;
  }
  .volunteerText {
    padding-bottom: 0px;
  }
  /* ================ Fonts CSS Style ==================== */
  .colorFont {
    font-size: 20px;
  }
  .titleText {
    font-size: 48px;
  }
  .text40 {
    font-size: 34px;
  }
}

/* Medium devices (laptops, desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .buttoncolor {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .formWidth {
    width: 100%;
  }
  .appointmentText {
    text-align: center;
  }
  .appointmentBg {
    background-size: 95%;
  }
  .serviceWidth {
    text-align: center;
    margin: 0 auto;
  }
  .volunteerBg {
    background-position: 0px 185px;
  }
  .revarce {
    display: flex;
    flex-direction: column-reverse;
  }
  /* ================ Fonts CSS Style ==================== */
  .text40 {
    font-size: 28px;
  }

}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .buttoncolor {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .formWidth {
    width: 100%;
  }
  .appointmentText {
    text-align: center;
  }
  .appointmentBg {
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }
  .serviceWidth {
    text-align: center;
    width: 100%;
  }
  .revarce {
    display: flex;
    flex-direction: column-reverse;
  }
  .volunteerBg {
    background-position: -25px 110px;
  }
   /* ================ Fonts CSS Style ==================== */
   .colorFont {
    font-size: 20px;
  }
  .titleText {
    font-size: 48px;
  }
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  .buttoncolor {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .formWidth {
    width: 100%;
  }
  .appointmentText {
    text-align: center;
  }
  .appointmentBg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .serviceWidth {
    text-align: center;
    width: 100%;
  }
  .serviceBody {
    grid-template-columns: 100%;
  }
  .revarce {
    display: flex;
    flex-direction: column-reverse;
  }
  .volunteerBg {
    background-position: -25px 110px;
  }
   /* ================ Fonts CSS Style ==================== */
   .colorFont {
    font-size: 18px;
  }
  .titleText {
    font-size: 40px;
  }
  .text40 {
    font-size: 30px;
  }
}







